body {
    min-width: 1200px;
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: medium;
    font-family: "Roboto", sans-serif;
    background-color: #849d8f;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 10px;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation a {
  color: #ffffff;
  
  display: block;
  padding: 25px 20px;
}

.main-navigation a:hover {
  color: #d6b299;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.header-logo {
  float: left;
  width: 205px;
  margin-right: 20px;
}

.user-block {
  float: left;
  border-radius: 15px;
  max-width: 100px;

}

.basket {
  float: right;
  width: 20px;
  border-radius: 15px;
  padding: 5px 10px;
  padding-left: 70px;
  display: inline-block;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #9db2a7;
  position: relative;
}

.login {
  padding: 5px 10px;
  padding-left: 50px;
  vertical-align: top;
  display: inline-block;
  border-radius: 15px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #9db2a7;
  position: relative;
  width: 30px;
}

.button {
  padding: 5px 10px;
  vertical-align: top;
  display: inline-block;
  border-radius: 15px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #9db2a7;
  position: relative;
  width: 80px;
}

.login:hover {
  background-color: #f8f7f4;
  color: #373737;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("img/sprite.png") no-repeat;
  background-position: -1px -15px;
}

.container p {
  float: right;
  width: 200px;
} 

.container b {
  float: right;
  width: 200px;
  margin-top: -10px;
  margin-left: 1050px;
  font-size: 22px;
}

.container h1 {
  float: left;
  text-align: center;
}

.container .btn {
   margin-top: -130px;
   border-radius: 15px;
   float: left;
   margin-left: 550px;
}

.index-logo {
  width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  width: 150px;  
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.map .btn {
    width: 200px;
}

.map p {
    background-color: "#fefefe";
    border-radius: 15px;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  border-radius: 15px;
  float: left;
  width: 500px;
  background-image: transparent url("img/raspberries-background.jpg") no-repeat;
  /* Только для оформления сетки */
  min-height: 330px;
}

.index-content-left p {
  margin-left: 20px;
  float: left;
  width: 270px;
}

.index-content-right {
  border-radius: 15px;
  float: right;
  width: 500px;
  background-image: transparent url("img/choco-background.jpg") no-repeat;
  /* Только для оформления сетки */
  min-height: 330px;
}

.content {
  width: 750px;
  margin: 0 auto;
  padding: 0 10px;
}

.content-left {
  background-image: transparent url("img/i-background.jpg") no-repeat;
}

.content-right {
  background-image: transparent url("img/i-post-background.jpg") no-repeat;
}

.index-content-right h2 {
  margin-left: 20px;
  width: 210px;
}

.index-content-right p {
  margin-left: 20px;
  float: left;
  width: 270px;
}

.footer-contacts {
  float: right;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.features {
  background-image: transparent url("img/wafer-background.jpg") no-repeat;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  
  /* Только для оформления сетки */
  min-height: 175px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item p {
  margin: 0 auto;
  padding: 0 10px;
  width: 165px;
  text-align: center;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-info {
  float: left;
  width: 170px;
  min-height: 70px;
  margin-right: 20px;
  text-decoration: underline; 
}

.footer-social {
  float: left;
  width: 270px;
  margin-right: 50px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 400px;
  min-height: 90px;
}

.footer-copyright img{
  margin-right: 300px;
}

.features {
 margin-top: 20px;
}

.catalog-item {
  display: inline-block;
  width: 270px;
  margin-right: 10px;
  
  /* Только для оформления сетки */
  min-height: 175px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item p {
  margin: 0 auto;
  padding: 0 10px;
  width: 255px;
  text-align: center;
  text-decoration: underline;
}

.catalog-item b {
  margin-top: -100px;
  margin-right: 50px;
}

.round {
    border-radius: 100px;
}

.map {
    width: 200px;
    float: left;
    margin-left: 100px;
    background-image: transparent url("img/map.jpg") no-repeat;
}

.map b {
    width: 200px;
    float: left;
    margin-left: 100px;
}

.map .btn {
   border-radius: 15px;
   float: right;
   margin-left: 10px;
}

.breadcrumbs {
    float: left;
    width: 300px;
    margin-right: 500px;
    margin-bottom: 20px;
}

.breadcrumbs p {
   width: 100px;
}

.breadcrumbs h2 {
   width: 380px;
   margin-bottom: 5px;
}

.container h1 {
  float: left;
  width: 330px;
  margin-top: -250px;
  margin-left: 435px;
}

.fillers-item {
  float: left;
  width: 1000px;
  margin-bottom: 20px;
  
  vertical-align: top;
  display: inline-block;
  border-radius: 15px;
  font-size: 16px;
  line-height: 10px;
  color: #ffffff;
  text-decoration: none;
  background-color: #9db2a7;
  position: relative;
  width: 620px;
}

.fillers p {
  float: left;
  width: 1200px;
  
} 
.paginator {
    float: right;
    margin-right: 100px;
}

.sprite {
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-checkbox-off {
    width: 20px;
    height: 20px;
    background-position: -10px -50px;
}

.sprite-circle {
    width: 23px;
    height: 25px;
    background-position: -10px -90px;
}

.sprite-fb {
    width: 32px;
    height: 32px;
    background-position: -10px -135px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -10px -187px;
}

.sprite-inst {
    width: 32px;
    height: 32px;
    background-position: -10px -220px;
}

.sprite-login {
    width: 21px;
    height: 19px;
    background-position: -10px -272px;
}

.sprite-loupe {
    width: 17px;
    height: 17px;
    background-position: -10px -311px;
}

.sprite-radiobatton-off {
    width: 21px;
    height: 22px;
    background-position: -10px -348px;
}

.sprite-radiobatton-on {
    width: 21px;
    height: 22px;
    background-position: -10px -390px;
}

.sprite-red-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -432px;
}

.sprite-tw {
    width: 32px;
    height: 32px;
    background-position: -10px -472px;
}

.sprite-vk {
    width: 32px;
    height: 32px;
    background-position: -10px -524px;
}

.sprite-xit {
    width: 61px;
    height: 61px;
    background-position: -10px -576px;
}

.range {
  padding: 5px 10px;
  padding-left: 200px;
  vertical-align: top;
  display: inline-block;
  border-radius: 15px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #9db2a7;
  position: relative;
  width: 30px;
}

.filter {
  padding: 5px 10px;
  padding-left: 200px;
  vertical-align: top;
  display: inline-block;
  border-radius: 15px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #9db2a7;
  position: relative;
  width: 30px;
}

.radiobtn  {
  vertical-align: top;
  display: inline-block;
  border-radius: 15px;
  font-size: 16px;
  line-height: 10px;
  color: #ffffff;
  text-decoration: none;
  background-color: #9db2a7;
  position: relative;
  width: 520px;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1200px;

  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("slide-2.png");
}

.site-wrapper::after {
  background-image: url("slide-3.png");
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-left: 100px;

  font-weight: 800;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
 
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  border-radius: 25px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: #e6ebe9 url("img/sprite.png") no-repeat center;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: 9px -447px;
}

.social-btn-fb {
  background-position: 15px -171px;
}

.social-btn-inst {
  background-position: 12px -313px;
}

.social-btn-vk:hover {
  background-position: 9px -381px;
}

.social-btn-fb:hover {
  background-position: 15px -100px;
}

.social-btn-inst:hover {
  background-position: 12px -242px;
}
 
 
 
 
 
 
